# Enable default content handlers.
PythonOption VampireDefaultHandlers On

# Block access to any default handlers.
<Files _*>
deny from all
</Files>

# Block access to any backup files.
<Files *.bak>
deny from all
</Files>
