#extends _layout
#implements body

#def title
Apache Options#slurp
#end def                                                                        

#set $options = $req.get_options()
#set $keys = $options.keys()
#silent $keys.sort()

<p>
<table>
<thead>
<tr>
<th>Key</th>
<th>Value</th>
</tr>
</thead>
<tbody>
#for $key in $keys
<tr>
<td>$key</td>
<td>$options[$key]</td>
</tr>
#end for
</tbody>
</table>
</p>
