#extends _layout
#implements body

#def title
Config Defaults
#end def

<p>
<table>
<thead>
<tr>
<th>Key</th>
<th>Value</th>
</tr>
</thead>
<tbody>
#set $defaults = $req.config.defaults
#for $field in $defaults
<tr>
<td>$field</td>
<td>$defaults[$field]</td>
</tr>
#end for
</tbody>
</table>
</p>
