#extends _layout
#implements body

#def title
Form Values
#end def

<p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Value</th>
</tr>
</thead>
<tbody>
#set $fields = $req.fields
#for $field in $fields
<tr>
<td>$field</td>
<td>$fields[$field]</td>
</tr>
#end for
</tbody>
</table>
</p>
