#extends _layout
#implements body

#def title
Python Modules#slurp
#end def                                                                        

#import sys

#set $keys = $sys.modules.keys()
#silent $keys.sort()

<p>
<table>

<thead>
<tr>
<th>Label</th>
<th>Path</th>
</tr>
</thead>

<tbody>
#for $key in $keys
<tr>
    <td>$key</td>
    <td>
    #if $hasattr($sys.modules[$key],"__file__")
        $sys.modules[$key].__file__
    #end if
    </td>
    </tr>
#end for
</tbody>

</table>
</p>
