#extends _layout
#implements body

#def title
Python Config#slurp
#end def                                                                        

#set $config = $req.get_config()
#set $keys = $config.keys()
#silent $keys.sort()

<p>
<table>

<thead>
<tr>
<th>Key</th>
<th>Value</th>
</tr>
</thead>

<tbody>
#for $key in $keys
    <tr>
    <td>$key</td>
    <td>$config[$key]</td>
    </tr>
#end for
</tbody>

</table>
</p>
