#extends _layout
#implements body

#def title
Python Path#slurp
#end def                                                                        

#import sys

<p>
<table>

<thead>
<tr>
<th>Directory</th>
</tr>
</thead>

<tbody>
#for $path in $sys.path
    <tr>
    <td>$path</td>
    </tr>
#end for
</tbody>

</table>
</p>
