#extends _layout
#implements body

#def title
System Environ#slurp
#end def                                                                        

#import os

#set $names = $os.environ.keys()
#silent $names.sort()

<p>
<table>

<thead>
<tr>
<th>Name</th>
<th>Value</th>
</tr>
</thead>

<tbody>
#for $name in $names
    <tr>
    <td>$name</td>
    <td>$os.environ[$name]</td>
    </tr>
#end for
</tbody>

</table>
</p>
