<html>

<head>
  <title>Cached Templates</title>
</head>

<body>

<h1>Cached Templates</h1>

<p>
<table>

<thead>
  <tr>
    <th>Path</td>
    <th>Node</td>
    <th>Modified</td>
    <th>Accessed</td>
    <th>Hits</td>
  </tr>
</thead>

<tbody>
  <tr vampire:node="rep:module">
    <td vampire:node="con:path"></td>
    <td vampire:node="con:node"></td>
    <td vampire:node="con:mtime"></td>
    <td vampire:node="con:atime"></td>
    <td vampire:node="con:hits"></td>
  </tr>
</tbody>

</table>
</p>

</body>
</html>
