<html>

<head>
<title>Request Details</title>
</head>

<body>

<h1>Request Details</h1>

<p vampire:node="con:object">
<h2 vampire:node="con:name">Request Object</h2>
<table>

<thead>
<tr>
<td><strong>Key</strong></td>
<td><strong>Value</strong></td>
</tr>
</thead>

<tbody>
    <tr vampire:node="rep:item">
    <td vampire:node="con:key"></td>
    <td vampire:node="con:value"></td>
    </tr>
</tbody>

</table>
</p>

<p vampire:node="con:headers">
<h2 vampire:node="con:name">Request Headers</h2>
<table>

<thead>
<tr>
<td><strong>Key</strong></td>
<td><strong>Value</strong></td>
</tr>
</thead>

<tbody>
        <tr vampire:node="rep:item">
        <td vampire:node="con:key"></td>
        <td vampire:node="con:value"></td>
        </tr>
</tbody>

</table>
</p>

</body>
</html>
