<html>

<head>
  <title>Vampire Config</title>
</head>

<body>

<h1>Vampire Config</h1>

<p vampire:node="con:htaccess">
<h2 vampire:node="con:name">.htaccess</h2>
<table>

<thead>
  <tr>
    <td><strong>Key</strong></td>
    <td><strong>Value</strong></td>
  </tr>
</thead>

<tbody>
  <tr vampire:node="rep:item">
    <td vampire:node="con:key"></td>
    <td vampire:node="con:value"></td>
  </tr>
</tbody>

</table>
</p>

<p vampire:node="con:context">
<h2 vampire:node="con:name">.vampire</h2>
<table>

<thead>
  <tr>
    <td><strong>Key</strong></td>
    <td><strong>Value</strong></td>
  </tr>
</thead>

<tbody>
  <tr vampire:node="rep:item">
    <td vampire:node="con:key"></td>
    <td vampire:node="con:value"></td>
  </tr>
</tbody>

</table>
</p>

<p vampire:node="rep:section">
<h3 vampire:node="con:name"></h3>
<table>

<thead>
  <tr>
    <td><strong>Key</strong></td>
    <td><strong>Value</strong></td>
  </tr>
</thead>

<tbody>
  <tr vampire:node="rep:item">
    <td vampire:node="con:key"></td>
    <td vampire:node="con:value"></td>
  </tr>
</tbody>

</table>
</p>

</body>
</html>
